/build
.gradle/
.idea/
Loop2.iml
build.gradle
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
local.properties
settings.gradle
app/src/main/res/drawable-mdpi/battpict2.png
